
.left-side-text {
    font-size: 34px; /* Increase font size */
    border-right: 5px solid green; /* Add green border on the right */
    padding-right: 20px; /* Add some padding to separate the text from the border */
}
/* Font styles */
@font-face {
    font-family: 'Hammersmith One';
    src: url('HammersmithOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

        /* General styles */
        body {
            font-family: 'Hammersmith One', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        /* Header styles */
        header {
            background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 5px solid green; /* Add border to the right */
        }

        .logo img {
            max-height: 50px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li:last-child {
            margin-right: 0;
        }

        nav ul li a {
            color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Hammersmith One', Arial, sans-serif; /* Add font family */
        }

        nav ul li a:hover {
            color: #ccc;
        }

        .search-icon {
            width: 20px;
            height: 20px;
            background-image: url('search.svg');
            background-size: cover;
            cursor: pointer;
        }

        /* Scroll container styles */
        .scroll-container {
            overflow-x: hidden;
            white-space: nowrap;
            padding: 20px 0;
            position: relative;
            background-color: #fff;
            margin-bottom: 20px;
        }

        .scroll-buttons {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .scroll-left {
            left: 0;
        }

        .scroll-right {
            right: 0;
        }

        .images-wrapper {
            display: inline-flex;
            width: 100%;
        }

        .images-wrapper img {
            width: 300px;
            height: 280px;
            border-radius: 5px;
            margin-right: 10px;
        }

        /* Movie grid styles */
        .movie-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            margin: 0 auto;
            max-width: 1200px;
        }

        .movie {
            position: relative;
            height: 350px; 
        }

        .movie img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
        }

        .movie-caption {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 10px;
            text-align: center;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: opacity 0.3s ease-in-out;
        }

        .movie:hover .movie-caption {
            display: block;
        }

        
/* Footer Styles */
.brand-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin-top: 30px;
        }

        .brand-item img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .brand-item img:hover {
            transform: scale(1.05);
        }

        /* Footer Styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ccc;
}


.column {
    flex: 1; /* Allow columns to grow and fill available space equally */
    padding: 0 20px;
}

.nav-bottom, .secondary-links {
    list-style: none;
    padding: 0;
}

.nav-bottom li, .secondary-links li {
    margin-bottom: 10px;
}

.nav-bottom a, .secondary-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nav-bottom a:hover, .secondary-links a:hover {
    color: #ccc;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.social-links a:hover {
    color: #ccc;
}

.bottom {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.flow-opposite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-form {
    position: relative;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

#search-input::placeholder {
    color: #ccc;
}

#search-input:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* CSS styles for the description link */
.description-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50; /* Green button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.description-link:hover {
    background-color: #388e3c; /* Green button background color on hover */
}
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}


.elementor-widget-social-icons.elementor-grid-0 .elementor-widget-container,.elementor-widget-social-icons.elementor-grid-mobile-0 .elementor-widget-container,.elementor-widget-social-icons.elementor-grid-tablet-0 .elementor-widget-container{line-height:1;font-size:0}.elementor-widget-social-icons:not(.elementor-grid-0):not(.elementor-grid-tablet-0):not(.elementor-grid-mobile-0) .elementor-grid{display:inline-grid}.elementor-widget-social-icons .elementor-grid{grid-column-gap:var(--grid-column-gap,5px);grid-row-gap:var(--grid-row-gap,5px);grid-template-columns:var(--grid-template-columns);justify-content:var(--justify-content,center);justify-items:var(--justify-content,center)}.elementor-icon.elementor-social-icon{font-size:var(--icon-size,25px);line-height:var(--icon-size,25px);width:calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));height:calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em))}.elementor-social-icon{--e-social-icon-icon-color:#fff;display:inline-flex;background-color:#69727d;align-items:center;justify-content:center;text-align:center;cursor:pointer}.elementor-social-icon i{color:var(--e-social-icon-icon-color)}.elementor-social-icon svg{fill:var(--e-social-icon-icon-color)}.elementor-social-icon:last-child{margin:0}.elementor-social-icon:hover{opacity:.9;color:#fff}.elementor-social-icon-android{background-color:#a4c639}.elementor-social-icon-apple{background-color:#999}.elementor-social-icon-behance{background-color:#1769ff}.elementor-social-icon-bitbucket{background-color:#205081}.elementor-social-icon-codepen{background-color:#000}.elementor-social-icon-delicious{background-color:#39f}.elementor-social-icon-deviantart{background-color:#05cc47}.elementor-social-icon-digg{background-color:#005be2}.elementor-social-icon-dribbble{background-color:#ea4c89}.elementor-social-icon-elementor{background-color:#d30c5c}.elementor-social-icon-envelope{background-color:#ea4335}.elementor-social-icon-facebook,.elementor-social-icon-facebook-f{background-color:#3b5998}.elementor-social-icon-flickr{background-color:#0063dc}.elementor-social-icon-foursquare{background-color:#2d5be3}.elementor-social-icon-free-code-camp,.elementor-social-icon-freecodecamp{background-color:#006400}.elementor-social-icon-github{background-color:#333}.elementor-social-icon-gitlab{background-color:#e24329}.elementor-social-icon-globe{background-color:#69727d}.elementor-social-icon-google-plus,.elementor-social-icon-google-plus-g{background-color:#dd4b39}.elementor-social-icon-houzz{background-color:#7ac142}.elementor-social-icon-instagram{background-color:#262626}.elementor-social-icon-jsfiddle{background-color:#487aa2}.elementor-social-icon-link{background-color:#818a91}.elementor-social-icon-linkedin,.elementor-social-icon-linkedin-in{background-color:#0077b5}.elementor-social-icon-medium{background-color:#00ab6b}.elementor-social-icon-meetup{background-color:#ec1c40}.elementor-social-icon-mixcloud{background-color:#273a4b}.elementor-social-icon-odnoklassniki{background-color:#f4731c}.elementor-social-icon-pinterest{background-color:#bd081c}.elementor-social-icon-product-hunt{background-color:#da552f}.elementor-social-icon-reddit{background-color:#ff4500}.elementor-social-icon-rss{background-color:#f26522}.elementor-social-icon-shopping-cart{background-color:#4caf50}.elementor-social-icon-skype{background-color:#00aff0}.elementor-social-icon-slideshare{background-color:#0077b5}.elementor-social-icon-snapchat{background-color:#fffc00}.elementor-social-icon-soundcloud{background-color:#f80}.elementor-social-icon-spotify{background-color:#2ebd59}.elementor-social-icon-stack-overflow{background-color:#fe7a15}.elementor-social-icon-steam{background-color:#00adee}.elementor-social-icon-stumbleupon{background-color:#eb4924}.elementor-social-icon-telegram{background-color:#2ca5e0}.elementor-social-icon-threads{background-color:#000}.elementor-social-icon-thumb-tack{background-color:#1aa1d8}.elementor-social-icon-tripadvisor{background-color:#589442}.elementor-social-icon-tumblr{background-color:#35465c}.elementor-social-icon-twitch{background-color:#6441a5}.elementor-social-icon-twitter{background-color:#1da1f2}.elementor-social-icon-viber{background-color:#665cac}.elementor-social-icon-vimeo{background-color:#1ab7ea}.elementor-social-icon-vk{background-color:#45668e}.elementor-social-icon-weibo{background-color:#dd2430}.elementor-social-icon-weixin{background-color:#31a918}.elementor-social-icon-whatsapp{background-color:#25d366}.elementor-social-icon-wordpress{background-color:#21759b}.elementor-social-icon-x-twitter{background-color:#000}.elementor-social-icon-xing{background-color:#026466}.elementor-social-icon-yelp{background-color:#af0606}.elementor-social-icon-youtube{background-color:#cd201f}.elementor-social-icon-500px{background-color:#0099e5}.elementor-shape-rounded .elementor-icon.elementor-social-icon{border-radius:10%}.elementor-shape-circle .elementor-icon.elementor-social-icon{border-radius:50%}
